@{
    ViewData["Title"] = "Home Page";
}
@if (ViewBag.Debug)
{
    <h4>@ViewBag.Sql</h4>
    <h4>@ViewBag.Mongo</h4>
}
<div class="showboat">
    This application change brought to you by Tracy Wallace at INE
</div>
<ul class="nav nav-tabs" role="tablist">
    <li class="nav-item"><a id="info-tab" class="nav-link active " href="#info" data-toggle="tab" role="tab"
            aria-controls="info" aria-selected="true">App
            Info</a></li>
    <li class="nav-item"><a id="containers-tab" class="nav-link " href="#containers" data-toggle="tab" role="tab"
            aria-controls="containers" aria-selected="false">Containers</a></li>
    <li class="nav-item"><a id="monitoring-tab" class="nav-link " href="#monitoring" data-toggle="tab" role="tab"
            aria-controls="monitoring" aria-selected="false">Monitoring</a></li>
</ul>
<div class="tab-content">


    <div id="info" class="tab-pane active" aria-labelledby="info-tab">
        <h2>App info</h2>
        <div class="content">

        </div>
    </div>
    <div id="containers" class="tab-pane" aria-labelledby="containers-tab">
        <div class="col-sm-9">
            <select id="quizList"></select>
            <div id="quiz"></div>
        </div>
        <div class="col-sm-3 stats" id="stats">
            <button id="load">Load Documents</button>

        </div>
    </div>
    <div id="monitoring" class="tab-pane" aria-labelledby="monitoring-tab">
        <div class="row">
            <div class="col-md-7">
                <div class="row">
                    <div class="col-md-4">
                        Number of Requests:
                    </div>
                    <div class="col-md-2">
                        <input type="number" min="1" max="2000" id="requests" />
                    </div>
                    <div class="col-md-3">
                        <button id="sendRequests">Send Requests</button><br />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-1">
                        
                    </div>
                    <div class="col-md-4">
                        <input type="checkbox" id="errors"> &nbsp;Include Errors<br />
                <input type="checkbox" id="delay"> &nbsp;Include Delay
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                      Seconds to load processor:   
                    </div>
                    <div class="col-md-2">
                        <input type="number" min="30" max="600" id="seconds" />
                    </div>
                    <div class="col-md-3">
                        <button
                    id="loadProcessor">Load Processor</button>
                    </div>
                </div>
            </div>
            <div class="col-md-4" id="monitoringOutput">
                <div id="results"></div>
                <div id="displayErrors"></div>
            </div>
        </div>
    </div>
</div>